.repeatFieldContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: var(--margin-M);
}

.repeatField {
  width: 300px;
}
.repeatField_img {
  width: 300px;
}
.repeatLines_st1:hover {
  cursor: pointer;
  stroke: var(--blue-grey);
  opacity: 0.3;
}
.repeatLines_st3 {
  cursor: pointer;
}
.repeatLines_st4 {
  stroke: var(--green-main);
  stroke-width: 10;
}
.repeatLines_st5 {
  stroke: var(--red-main);
  stroke-width: 10;
}
